[mysqld]
#baseline definitions
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql

#Slow Log
slow_query_log=1
slow_query_log_file=/var/log/mysqld-slow.log
log_queries_not_using_indexes=0
long_query_time=5

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic_links=0

#Optimizations by BlackMesh
#Disabled by default, enable when needed
#innodb_log_file_size=64M
#Only uncomment this line after discussing the impact with the customer.
#innodb_flush_log_at_trx_commit=2
skip_name_resolve

#disabled by default on new machines; nothing should use these any more
#old_passwords=1

#Enabled by default
default_storage_engine=innodb
innodb=FORCE
innodb_file_per_table
innodb_flush_method=O_DIRECT
tmp_table_size=32M
max_heap_table_size=32M
key_buffer_size=64M
query_cache_size=64M
query_cache_limit=4M
query_cache_min_res_unit=1K
innodb_buffer_pool_size=512M
table_open_cache=4096
thread_cache_size=16
max_allowed_packet=64M
open_files_limit=65534

[mysqld_safe]
log_error=/var/log/mysqld.log
pid_file=/var/run/mysqld/mysqld.pid

[mysqldump]
routines
events
single_transaction
